.mat-paginator-page-size-label, .mat-paginator-range-label {
  font-size: 12px;
  color: #adadad;
}
.mat-paginator-navigation-next, .mat-paginator-navigation-last, .mat-paginator-navigation-previous, .mat-paginator-navigation-first{
  color: rgba(0, 0, 0, 0.50);
}